.wer11{

height: 10px;
width: 5px;

}
.wer4444{

background-color: black;
height: 2px;

}
.wer{

background-color: aqua;

}
.wer2{

background-color: blue;

}
img{

width: 616px ;
height: 353px  ;
}
body{background-color: yellow;}